.column-3 {
  float: left;
  width: 50%;
  
}
.column-4{
  float: left;
  width: 30%;

}
.box-1{
  margin-top: 7%;
  width: 70%; 
  height: 520px;
  flex-shrink: 0;
  border-radius: 40px; 
  background: #F5F7FF; 
}
.box-2{
  width: 85%;
  height:23%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #003050;
  margin-left: 8%;
  margin-top: 5%;
  /* margin: 8%; */
  line-height: 15px;
 
}
.box-3{
  width: 85%;
  height:23%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #F8DB39;
  margin-left: 8%;
  margin-top: 5%;
  /* margin: 8%; */
 
}
.box-4{
  width: 85%;
  height:23%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #EC6F70;
  margin-left: 8%;
  margin-top: 5%;
  /* margin: 8%; */
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  

.myactivity{
  color: #292929;
  font-size: 150%;
  font-family: Poppins;
  font-weight: 600;
}
.month{
  color: #003B8C;
  font-size: 80%;
  font-family: Poppins;
  font-weight: 500;
}
.activitybox{
  line-height: 15px;
}
.arrow{
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-left: 65%;
}

.box-2 p{
  color: #FFF;
 font-size: 10.703px;
  font-family: Poppins;
  font-weight: 500;
  padding-top: 5%;
  padding-left: 10%;
}

.box-2 h6{
  color: #FFF;
  font-size: 70%;
  font-family: Poppins;
  font-weight: 400;
}
  